{% extends 'base.html' %}

{% block title %}
    ||About US
    {% endblock  %}

{% block content  %}


<div class="container ">
    <div class="row">
        <p class=" display-5 about fst-italic">Welcome to our online book haven! At Bookstore, our passion for literature and technology converged to br
            ing you a seamless and enjoyable reading experience. Our app is not just a collection of books but a curated 
            space where book lovers can explore, discover, and connect with captivating stories from various genres.
             Whether you're an avid reader or just starting your literary journey, Bookstore is designed with you in mind. 
             Our team, a group of dedicated book enthusiasts, poured their creativity and expertise into crafting an app that goes beyond the ordinary. We believe in the transformative power of stories, and our mission is to make those stories easily accessible to you. Join us on this literary adventure, explore our features, and immerse yourself in the world of books. Happy reading!</p>
    </div>
</div>

 {% endblock content %}
</body>
</html>